.dialog {
    border-radius: 16px;
    background: var(--dark-gray);
}

.header {
    padding: 12px;
    display: flex;
    justify-content: flex-end;
}

.header button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header button:hover {
    cursor: pointer;
}

.header button:focus {
    outline: none;
    cursor: pointer;
}