.dialog {
    border-radius: 32px;
    background: var(--dark-gray);
    width: 800px;
    padding: 24px;

}

.header {
    display: flex;
    justify-content: flex-end;
}

.header button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header button:hover {
    cursor: pointer;
}

.header button:focus {
    outline: none;
    cursor: pointer;
}

::backdrop {
    background-color: black;
    opacity: 0.70;
}